Plugins>CIRB>Selimi,"mRNA Scope",RNA_Scope.RNA_Scope_Main
Plugins>CIRB>Selimi,"mRNA Scope Calibration",RNA_Scope.RNA_Scope_Calib
Plugins>CIRB>Selimi,"mRNA Scope Calibration, remove ghots",RNA_Scope.RNA_Scope_CalibGhost
Plugins>CIRB>Selimi,"mRNA Scope Roi",RNA_Scope.RNA_Scope_Roi
Plugins>CIRB>Selimi,"mRNA Scope Nucleus & Cells Mask",RNA_Scope.RNA_Scope_Local_Cells
